.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blurred {
  filter: blur(2px);
}

.header h1 {
  text-align: center;
}


