.pile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: opacity 0.2s ease;
    margin-bottom: 20px;
}

.pile-button-img {
    width: 68%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}

.settings-button {
    min-width: 180px;
    padding: 10px;
    font-size: 16px;
    border: 2px black solid;
    border-radius: 0px;
    background: #FFB703;
    z-index: 10;
    text-align: center;
}

.take-tile {
    min-width: 180px;
    padding: 10px;
    font-size: 16px;
    border: 2px black solid;
    background: #FFB703;
    z-index: 10;
    text-align: center;
}

.swap-sort-button {
    width: 204px;
    border: 2px black solid;
    border-radius: 0px;
    background: #FFB703;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Because of how antd works we need this so our buttons dont stay in an active state */
.sorting-buttons .swap-sort-button:active,
.sorting-buttons .swap-sort-button:focus {
    background-color: #FFB703 !important;
    border-color: black !important;
    color: black !important;
    box-shadow: none !important;
    outline: none !important;
}

.pile-button:hover:not(.disabled) {
    opacity: 0.8;
}

.pile-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.toggle-button, .reset-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.toggle-button.enabled {
    background-color: #4caf50;
    color: white;
}

.toggle-button.disabled {
    background-color: #f44336;
    color: white;
}

.reset-button {
    background-color: #2196f3;
    color: white;
}

.start-button {
    width: 50vw;
    height: 50vh;
    background-color: #4caf50;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Stop button styles */
.stop-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.end-button {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-button-panel, .right-button-panel {
    flex: 1;
}